.body{
    background-color: orange;
    max-width: 400X;
    height: 300px;
    margin: 0 auto; 
    text-align: center;
    width: 400px;
    border-radius: 25px;
}

img{ 
    height: 100px;
    width: 100px;
    border :2px solid orange;
    margin: auto;
    border-radius: 50%;
    background-color:black;
}

.login{
    padding: 2px; 
}

.login{
    font-size: 20px;

}
header{
    background-color: black;
}